nbproject
*.swp

Makefile.global
acinclude.m4
aclocal.m4
autom4te.cache
build
config.cache
config.log
config.h
config.h.in
config.nice
config.status
config.sub
config.guess
configure
configure.in
install-sh
iltmain.sh
missing
mkinstalldirs
run-tests.php
*.la
*.lo
*.o
.deps
.libs
libtool
Makefile
Makefile.fragments
Makefile.objects
modules
ltmain.sh
*.la
tmp-php.ini
php_test_results*
